.content {
  background: #f0f0f3;
  height: 90vh;
  text-align: center;
  display: block;
  padding: 2%;
  overflow-x: auto;
}
.tooltip {
  flex-direction: column;
  font: normal 300 16px/21px Roboto;
}
.tooltip span {
  color: #1eb3ae;
  float: right;
}
.title {
  font: italic normal 300 25px/33px Roboto;
  color: #ef233c;
  align-self: center;
  padding-top: 1%;
}

@media screen and (max-width: 599px) {
  .hidenrow {
    display: none;
  }
}
