.row {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 87vh;
  overflow: hidden;
}
.row .col2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 22px;
  padding-left: 9%;
  padding-right: 9%;
}
.col1 {
  padding-left: 5%;
  padding-right: 5%;
}
.investments {
  background: #f0f0f3;
  border-radius: 0 0 0 24px;
  display: block;
  align-items: center;
}
.stock {
  background: #f0f0f3;
  display: block;
  align-items: center;
}
.col2 h3 {
  font: italic normal 300 1.5em/1.8em Roboto;
  color: #ef233c;
  padding-left: 10%;
  border-left: 1px solid;
  margin-left: 20%;
}
.col2 p {
  font: normal normal 300 1em/1.5em Roboto;
  padding-left: 16px;
  padding-right: 2px;
  padding-bottom: 14px;
  color: #222222;
}
.stock .btn {
  background-color: #ef233c;
  border-radius: 0px 0px 0px 12px;
  border-color: #ef233c;
  color: white;
  width: 80%;
  height: 7vh;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 70px;
  margin-bottom: 10px;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col1content h2 {
  font: italic normal 300 1.5em/1.7em Roboto;
  color: #ffffff;
  border-left: 1px solid;
  padding-left: 2%;
}
.col1content p {
  font: normal normal 300 16px/24px Roboto;
  color: #ffffff;
}
.row .col1 {
  background: #0d455d;
}

@media screen and (max-width: 599px) {
  .row {
    display: block;
    height: 100%;
    padding-bottom: 5%;
  }
  .stock {
    border-radius: 0 0 0 24px;
    padding-top: 2%;
  }
  .investments {
    margin-top: 5%;
    padding-top: 2%;
  }

  .hidenrow {
    display: none;
  }
  .row .col2 {
    display: block;
  }
  .col2 h3 {
    font: italic normal 300 25px/33px Roboto;
    color: #ef233c;
    padding-left: 16px;
    padding-right: 2px;
    top: 20px;
  }
  .col2 p {
    font: normal normal 300 16px/24px Roboto;
    padding-left: 16px;
    padding-right: 2px;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .row .col2 {
    display: block;
  }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
  .row {
    display: block;
    height: 100vh;
  }
  .col2 {
    padding-top: 5%;
  }
}
