
.nav{
  width: 100%;
  overflow: hidden;
  background-color:#222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  padding: 12px;
  text-decoration: none;
  display:inline-block;
  font-size: 17px;
  font-family:Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.nav-link:hover{
  color: #EF233C;
}
.nav-menu .active{
  color: #EF233C;
}
.nav-logo{
  background-color: #EF233C;
  border-radius: 50%;
  margin-left: 1%;
 
}
.nav-logo img{
  padding: 10px;
}
.toggle-icon {
  color: #ffffff;
  font-size: 2rem;
}
.hamburger {
  display: none;
}

@media screen and (max-width: 500px) {
  
  .nav-menu {
    position: fixed;
    left: -110%;
    top: 2rem;
    height: 70vh;
    flex-direction: column;
    background-color: #EF233C;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.active-nav{
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#EF233C;
  transition: 0.3s;

}
.nav-menu.active {
    left: 0;
}
.disable{
  display: none;
}
.hamburger {
  display: block;
  margin-right: 2%;
  cursor: pointer;
}

/* .hamburger {
    display: block;
    margin-right: 2%;
    cursor: pointer;
}
.btn{
  display: none;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */

}