nav {
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.nav{
  background-color:#222222;
}
nav li {
  padding: 12px;
  text-decoration: none;
  display:inline-block;
  font-size: 17px;
  font-family:Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.toggleButton{
  display: none;
}
.nav a:hover{
  color: #EF233C;
}
.nav .active{
  color: #EF233C;
}
.nav-title{
 float: left;
 padding: 12px;
}
.logo{
  background-color: #EF233C;
  border-radius: 50%;
 
}
.logo img{
  padding: 10px;
}
.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

@media screen and (max-width: 500px) {
  nav li{
    display: none;
  }

  .toggleButton{
    display: inline-block;
    color: #EF233C;
    height: 18px;
    padding: 12px;
    float: right;
    width: 25px;
  }
  .nav-title{
    float: left;
    background-color: #EF233C;
    margin-top: 10px;
    margin-left: 12px;
    border-radius: 25px 25px 25px 25px;
   }
   .logo img{
     padding: 10px;
   }


   
}