.nav{
  width: 100%;
  overflow: hidden;
  background-color:#222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
}
.nav-logo img {
  background: #EF233C;
  padding: 10px;
  border-radius: 50%;
  display:block;
  width:30px;
  height:30px;
  margin:2%
}
.nav-logo-open img {
  background: #000000;
  padding: 10px;
  border-radius: 50%;
  display:block;
  width:30px;
  height:30px;
  margin:2%
}
.menu-title{
  padding-left: 20px;
  display:inline-block;
  font-size: 1.313em;
  font: italic normal 300 1em/1.313em Roboto;
  opacity: 1;
}
.nav-link{
  text-decoration: none;
  color: #FFFFFF;
}
.nav-item {
  padding: 12px;
  text-decoration: none;
  display:inline-block;
  font-size: 1.063em;
  font-family:Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.nav-link:hover{
  color: #EF233C;
}
.toggle-icon {
  color: #ffffff;
  font-size: 2rem;
}
.hamburger {
  display: none;
}
.footer-sidebar{
  display: none;
}
.nav-menu-right .right-item{
  display: none;
}

@media screen and (max-width: 600px) {  
  .nav-menu {
    position: fixed;
    left: -110%;
    top: 0rem;
    display: block;
    height: 100vh;
    flex-direction: column;
    background-color: #EF233C;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 16%;
}
.nav-title img {
  margin:5px;
}
.nav-title .left-item{
  display: none;
}
.nav .active{
  color: #EF233C;
}
.nav-logo-open{
  z-index: 9;
}
.menu-title {
  z-index: 9;
}
.nav-item {
 display: block;
}
.separator{
  display: none;
}
.nav-menu-right .right-item{
  display: block;
}
.active-nav{
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;

}
.nav-menu.active {
    left: 0;
}
.footer-sidebar{
  display: block;
  margin-top: 50%;
  font: normal 300 1.8em/2em Roboto;
  color: #FFFFFF;
}
.disable{
  display: none;
}
.hamburger {
  display: block;
  margin-right: 2%;
  cursor: pointer;
  z-index: 19;
}
}