.d3chart{
	width: 700px;
	height: 500px;
	
}
.content{
  background: #F0F0F3;
  height: 90vh;
  text-align: center;
  display: block;
  padding: 2%;
  overflow-x: auto;
}
.tooltip{
	background-color: #EF233C;
	padding: 0.5%;
	display: inline;
	flex-direction: column;
	font:normal 300 16px/21px Roboto;
	float: left;
	
}
.tooltip span{
	color: #1eb3ae;
	padding-left: 13px;
	float:right;
}

.title {
	font:italic normal 300 25px/33px Roboto;
	color: #EF233C;
	align-self: center;
}
.graph{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-left: 25%;
	padding-top: 5%;
}


@media screen and (max-width: 599px) {
	.hidenrow{
		display: none;
	  }
   }
   @media screen and (min-width: 701px) and (max-width: 900px){
	 .d3chart{
		width: 100vw;
		height: 90vh;
	}
	}
	@media screen and (min-width: 600px) and (max-width: 700px){
	 .d3chart{
		width: 90vw;
		height: 90vh;
	}
	
	}